:root{
    --cor1: #CAD2C5;
    --cor2: #84A98C;
    --cor3: #52796F;
    --cor4: #354F52;
    --cor5: #2F3E46;
}
html::-webkit-scrollbar{
    width: 15px;
}
html::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: var(--cor3); 
}
html::-webkit-scrollbar-track{
    background: var(--cor2);
}
nav{
    background-color:var(--cor2);
}
.color-text{
    color: var(--black);
}
.tm-img{
    width: 100%;
}
.p-2{
    font-size: 1rem;
    text-align: justify;
}
.tituloCarrossel{
    font-size: 50px;
    color:#2F3E46;
    text-shadow:antiquewhite 0.1em 0.1em 0.1em;
}
.subCarrossel{
    font-size: 40px;
    color:rgb(54, 54, 54);
    text-shadow:#CAD2C5 0.1em 0.1em 0.1em;
}
.cachorro{
    width: 650px;
    height: 450px;
}

.card-cachorro{
    width: 100%;
    height: 200px;
}
.card-cor{
    background-color: var(--cor2);
}

.nav-link:hover{
    color: antiquewhite;
}
.teste{
    height: 75px;
}
