:root{
    --cor1: #CAD2C5;
    --cor2: #84A98C;
    --cor3: #52796F;
    --cor4: #354F52;
    --cor5: #2F3E46;
}
html::-webkit-scrollbar{
    width: 15px;
}
html::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: var(--cor3); 
}
html::-webkit-scrollbar-track{
    background: var(--cor2);
}
nav{
    background-color: var(--cor2);
}
.tm-img{
    width: 111%;
}
.p-2{
    font-size: 1.4rem;
    text-align: justify;
}
.sd-img{
    width: 100%;
    height: 90%;
}
.sd{
    background-color: var(--cor2);
}
.tm-img2{
    width: 100%;
    height: 90%;
}

.nav-link:hover{
    color: antiquewhite;
}
.cachorro{
    width: 650px;
    height: 450px;
}

.card-cachorro{
    width: 100%;
    height: 200px;
}
.card-cor{
    background-color: var(--cor2);
}

.nav-link:hover{
    color: antiquewhite;
}